


<div class="intro py-20 flex h-screen items-center mx-auto">
    <div class="container border rounded-lg mx-auto px-6 py-20 flex flex-col shadow-2xl" style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)">
        <div class="heading">
            <h1 class="text-white text-4xl font-semibold">Martin Dawson</span></h1>
        </div>
        <div class="description">
            <p class="text-gray-300 text-xl list-disc list-inside my-6">
                A developer of websites, for example <a href="https://covidintheuk.com" target=”_blank” class="text-gray-100 underline hover:no-underline font-semibold">this</a>, an educator of Python on <a href="https://www.youtube.com/channel/UCT5HQdV8W695mUYir_GT6aw/" target=”_blank” class="text-gray-100 underline hover:no-underline font-semibold">YouTube</a>, and a curious <a href="https://martindawsonphotography.com" target=”_blank” class="text-gray-100 underline hover:no-underline font-semibold">Photographer</a>
            </p>
        </div>
        <div class="social flex items-center">
            <a href="https://twitter.com/mdaws100" target="_blank">
                <span>
                    <img class="fill-current h-10 w-10 mr-2 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110" src="/assets/img/social/twitter-white.png">
                </span>
            </a>
            <a href="https://instagram.com/martinodawsino" target="_blank">
                <span>
                    <img class="fill-current h-8 w-8 mr-4 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110" src="/assets/img/social/instagram-white.png">
                </span>
            </a>
            <a href="https://github.com/mxdws" target="_blank">
                <span>
                    <img class="fill-current h-8 w-8 mr-4 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110" src="/assets/img/social/github-white.png">
                </span>
            </a>   
            <a href="mailto:hello@mdwsn.com" target="_blank">
                <span>
                    <p class="fill-current h-8 w-8 mr-4 text-4xl align-top leading-7 font-semibold text-white transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110" src="/assets/img/social/github-white.png">@</p>
                </span>
            </a>   
        </div>
        <div>
            <button></button>
        </div>
    </div>
</div>