

<div class="bg-gray-50">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
        <div class="mt-8 flex inline-flex">
          <div class="inline-flex rounded-md shadow">
            <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
              Personal
            </a>
          </div>
          <div class="ml-3 inline-flex rounded-md shadow">
            <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
              Work
            </a>
          </div>
        </div>
        <h2 class="text-xl leading-9 font-semibold tracking-tight text-gray-900 sm:text-2xl sm:leading-10">
            Hi, I'm Martin
            <br>
            <span class="text-indigo-600">I make websites, write Python and do clever things with Excel spreadsheets. If I can combine all three, that's my dream!!</span>
            <span class="text-indigo-600">Sometimes I write about them on my blog, <a href="https://prettystatic.com">Pretty Static</a> and even more occasionally I make videos about them on my <a href="https://www.youtube.com/channel/UCT5HQdV8W695mUYir_GT6aw">YouTube channel</a>.</span>
            <span class="text-indigo-600">My latest project is a <a href="https://covidintheuk.com">COVID-19 dashboard</a> to show daily Coronavirus figures for local authorities in the UK.</span>
        </h2>
    </div>
</div>